.imagen{
    width: 9rem;
}
.recuadro{
    width: 25rem;
    border-color: brown;
}
.boton{
    border-radius: 20%;
}
.texto{
    color: white;
    width: 52rem;
    text-align: center;
}
.formulario{
    width: fit-content;
    margin: 5px;
    margin: 5px;
}